@import url("https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap");

::selection {
  background: darkcyan;
  color: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Moderustic", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
.tab-wrapper {
  width: 100%;
  height: auto;
  background: #a3ffff;
  padding-bottom: 60px;
}
.tab-header {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0px;
  background: darkcyan;
}
.tab-header .tab-heading {
  font-size: 38px;
  text-align: center;
  color: #e4e4e4;
}
.tab-container {
  max-width: 1000px;
  width: 95%;
  margin: 20px auto;
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
}
.tabs {
  display: flex;
  /* border-bottom: 2px solid #ccc; */
}
/* Scroll bar CSS Start Here */
.show-scrollbar {
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.show-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.show-scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

.show-scrollbar::-webkit-scrollbar-thumb {
  background-color: darkcyan;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

.show-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: green;
}

/* Scroll bar CSS End Here */

.tab-button {
  flex: 1;
  padding: 15px;
  background: #f4f4f4;
  border: none;
  cursor: pointer;
  transition: background 0.6s linear;
  font-size: 18px;
  font-weight: 600;
  min-width: 15%;
}
.tab-button:hover {
  background: greenyellow;
}
.tab-button.active {
  background: green;
  color: #fff;
}
.tab-content {
  display: none;
  padding: 20px;
}
.tab-content.active {
  animation: motion 0.6s 0s normal forwards;
  display: block;
}
.tab-content h2 {
  display: block;
  box-sizing: border-boxs;
  padding: 10px 0;
  font-size: 22px;
  font-weight: 600;
}
.tab-content > h3,
h4,
h5,
h6 {
  font-size: 18px;
  font-weight: 600;
}
.tab-content p {
  display: block;
  box-sizing: border-box;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 600px) {
  .tab-wrapper {
    padding-bottom: 30px;
  }
  .tab-header .tab-heading {
    font-size: 26px;
  }
  .tab-button {
    padding: 6px 10px;
    font-size: 14px;
    line-height: normal;
    min-width: 18%;
  }
  .tab-content h2 {
    font-size: 20px;
  }
  .tab-content p {
    font-size: 14px;
  }
  .tab-content > h3,
  h4,
  h5,
  h6 {
    font-size: 16px;
    font-weight: 600;
  }
}

@keyframes motion {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
